In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Create Connection

In [2]:
rds_connection_string = "postgres:postgres@localhost:5432/etl_project_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [3]:
engine.table_names()

['players']

### Retrieve data that will be pushed into players table

In [4]:
%store -r roster_merge_df

In [5]:
roster_merge_df.head()

         full_name first_name last_name position           college team
0      Aaron Brown      Aaron     Brown       RB         Minnesota  DET
1      Aaron Brown      Aaron     Brown       RB               TCU  DET
2    Aaron Rodgers      Aaron   Rodgers       QB        California   GB
3    Aaron Stecker      Aaron   Stecker       RB         Wisconsin  ATL
4  Adrian Peterson     Adrian  Peterson       RB  Georgia Southern  CHI

### Insert into table

In [ ]:
#INSERT_DATAFRAME.to_sql(name='players', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the players table

In [6]:
pd.read_sql_query('select * from players', con=engine).head()

Empty DataFrame
Columns: [player_key, full_name, first_name, last_name, position, college, team]
Index: []

### Retrieve data that will be pushed into games table

In [ ]:
# GET MERGED GAME STORED VARIABLE

In [ ]:
# MERGED GAME TABLE .HEAD

### Insert into table

In [ ]:
#INSERT_DATAFRAME.to_sql(name = 'games', con = engine, if_exists = 'append', index=False)

### Confirm data has been added by querying the games table

In [ ]:
pd.read_sql_query('select * from games', con=engine).head()