In [2]:
import pandas as pd
import requests

In [3]:
#path='Resources/players_2013-12-12.csv'

url="http://nflsavant.com/dump/players_2013-12-12.csv"

In [4]:
df = pd.read_csv(url)

In [6]:
df2 = df[['name', 'first_name', 'last_name', 'college', 'position', 'height', 'weight', 'draft_team', 'draft_round', 'year_start', 'year_end']]

In [8]:
df2

,name,first_name,last_name,college,position,height,weight,draft_team,draft_round,year_start,year_end
0,Isaako Aaitui,Isaako,Aaitui,NaN,NT,4-Jun,315.0,NaN,NaN,2013,2013
1,Faye Abbott,Faye,Abbott,Syracuse,BB-FB-TB-QB-WB-,8-May,182.0,NaN,NaN,1921,1929
2,Vince Abbott,Vince,Abbott,Washington,K,11-May,207.0,NaN,NaN,1921,1929
3,Duke Abbruzzi,Duke,Abbruzzi,Rhode Island,HB-DB,10-May,175.0,NaN,NaN,1921,1929
4,Karim Abdul-Jabbar,Karim,Abdul-Jabbar,UCLA,RB,10-May,194.0,Miami Dolphins,3rd,1996,2000
...,...,...,...,...,...,...,...,...,...,...,...
23728,Markus Zusevics,Markus,Zusevics,Iowa,OL,5-Jun,300.0,NaN,NaN,2012,2013
23729,Jeremy Zuttah,Jeremy,Zuttah,Rutgers,G,4-Jun,303.0,Tampa Bay Buccaneers,3rd,2008,2013
23730,Merle Zuver,Merle,Zuver,Nebraska,G-C,1-Jun,198.0,NaN,NaN,1930,1930
23731,Tony Zuzzio,Tony,Zuzzio,Muhlenberg,G,11-May,210.0,NaN,NaN,1942,1942
23732,Jim Zyntell,Jim,Zyntell,Holy Cross,G,1-Jun,200.0,NaN,NaN,1933,1935

In [9]:
df2['name'].value_counts()

Ed Smith         5
George Wilson    4
Jeff Smith       4
Jim Miller       4
Joe Williams     4
                ..
Toimi Jarvi      1
Brenden Stai     1
Rufus Deal       1
Keith Zinger     1
Mark Dusbabek    1
Name: name, Length: 23001, dtype: int64

In [10]:
len(df2['name'].unique())

23001

In [11]:
len(df2['name'])

23733

In [12]:
df2.dtypes

name            object
first_name      object
last_name       object
college         object
position        object
height          object
weight         float64
draft_team      object
draft_round     object
year_start       int64
year_end         int64
dtype: object

In [13]:
df3 = df2[df2['year_start']>1985]

In [14]:
len(df3['name'].unique())

9547

In [15]:
len(df3['name'])

9817